ul.nav
  li(class=(site == 'index' ? 'active' : ''))
    a(href="index.html") Home
  li(class=(site == 'blog' ? 'active' : ''))
    a(href="blog.html") Blog
  li(class=(site == 'about' ? 'active' : '')) 
    a(href="about.html") About